* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 300px;
  margin: 5rem auto;
}

button {
  display: inline-block;
  /* margin: 10rem 30rem; */
  margin-bottom: 20px;
}

h3 {
  /* text-align: center; */
  color: black;
}
